# token:
TOKEN_HOST=token
TOKEN_PORT=50051

# generator:
DB_HOST=db
DB_PORT=3306
DB_NAME=accounts
DB_USER=
DB_PASSWORD=
DB_ROOT_USER=root
DB_ROOT_PASSWORD=

# distributor:
DISTRIBUTOR_PORT=3001
DISTRIBUTOR_PSK=
DISTRIBUTOR_ALLOW_ORIGIN=
DISTRIBUTOR_ALLOWED_IPS=

# preauth:
PREAUTH_PORT=3002
PREAUTH_PSK=
PREAUTH_ALLOW_ORIGIN=
PREAUTH_ALLOWED_IPS=
PREAUTH_EXPIRATION=60m
REDIS_ADDR=redis:6379
REDIS_ADDRS=
REDIS_MASTER_NAME=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_FAILOVER_USERNAME=
REDIS_FAILOVER_PASSWORD=
REDIS_TLS_ENABLED=false
REDIS_CERT_FILE=
REDIS_KEY_FILE=
REDIS_CA_CERT_FILE=
REDIS_TLS_INSECURE_SKIP_VERIFY=false
