# token:
TOKEN_HOST=token
TOKEN_PORT=50051
TOKEN_KEY_ID=
TOKEN_MOCK=true
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# generator:
SERVER_DB_HOST=server-db
SERVER_DB_PORT=3306
SERVER_DB_NAME=server
SERVER_DB_USER=user
SERVER_DB_PASSWORD=password
SAMPLE_DATA=false
GENERATOR_MOCK=true
GENERATOR_TPS=10

# distributor:
DISTRIBUTOR_PORT=3001
DISTRIBUTOR_PSK=

# preauth:
PREAUTH_ADD_PORT=3002
PREAUTH_ADD_PSK=
PREAUTH_GET_PORT=3003
PREAUTH_GET_PSK=
PREAUTH_TTL=60m
SESSION_URL=
SESSION_PSK=
REDIS_ADDR=redis:6379
REDIS_ADDRS=
REDIS_MASTER_NAME=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_FAILOVER_USERNAME=
REDIS_FAILOVER_PASSWORD=
REDIS_TLS_ENABLED=false
REDIS_CERT_FILE=
REDIS_KEY_FILE=
REDIS_CA_CERT_FILE=
REDIS_TLS_INSECURE_SKIP_VERIFY=false

# verifier:
MANIFEST_URL=
MANIFEST_PSK=
CLIENT_DB_HOST=client-db
CLIENT_DB_PORT=3306
CLIENT_DB_NAME=client
CLIENT_DB_USER=user
CLIENT_DB_PASSWORD=password
