# token:
TOKEN_HOST=token
TOKEN_PORT=50051

# generator:
SERVER_DB_HOST=server-db
SERVER_DB_PORT=3306
SERVER_DB_NAME=server
SERVER_DB_USER=
SERVER_DB_PASSWORD=
SERVER_DB_ROOT_USER=root
SERVER_DB_ROOT_PASSWORD=

# distributor:
DISTRIBUTOR_PORT=3001
DISTRIBUTOR_PSK=
DISTRIBUTOR_ALLOW_ORIGIN=

# preauth:
PREAUTH_PORT=3002
PREAUTH_PSK=
PREAUTH_ALLOW_ORIGIN=
PREAUTH_TTL=60m
REDIS_ADDR=redis:6379
REDIS_ADDRS=
REDIS_MASTER_NAME=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_FAILOVER_USERNAME=
REDIS_FAILOVER_PASSWORD=
REDIS_TLS_ENABLED=false
REDIS_CERT_FILE=
REDIS_KEY_FILE=
REDIS_CA_CERT_FILE=
REDIS_TLS_INSECURE_SKIP_VERIFY=false

# verifier:
MANIFEST_URL=
MANIFEST_PSK=
CLIENT_DB_HOST=client-db
CLIENT_DB_PORT=3306
CLIENT_DB_NAME=client
CLIENT_DB_USER=
CLIENT_DB_PASSWORD=
CLIENT_DB_ROOT_USER=root
CLIENT_DB_ROOT_PASSWORD=
